/*============================================
utility
============================================*/
.pad50RL {
  padding-left: 70px;
  padding-right: 70px;
}
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}
.borderViz {
  border: 1px solid $white;
  border-radius: 3px;
}


/*============================================
main
============================================*/

h1 {
  font-size: $large;
  font-weight: 800;
  line-height: 1;
}
h2 {
  display: block;
  color: #4d4b4b;
  font-weight: 800;
  font-size: $med;
  font-weight: 800;
  border-bottom: 2px solid #4d4b4b;
  margin-bottom: 15px;
}
a {
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.small {
  position: relative;
  top: -13px;
  font-size: .7em; /* refactor this into a function -- want it to be a percentage smaller than the surrounding text rather than hard-coded */
  }
.med {
  font-size: 1.3em;
}
.large {
  position: relative;
  font-size: 2em; 
}

.section {
  padding: 40px 0 50px 0;
  overflow: hidden;
}

.putty {
  background-color: $putty;
}
.gray {
  background-color: $ltgray;
}

    
.top {
padding: 20px 20px 80px 20px;
background: url(../img/oil_blur.jpg) no-repeat top center fixed;
color: $white;
    .intro {
      background-color: transparentize($black, 0.6);
      margin-top: -20px;
      margin-left: 20px;
      padding: 30px;
      p {
        font-size: $norm;
        line-height: 1.2em;
      }
      a {
        color: $white;
      }
    }
    h1 {
      display: inline-block;
      color: $white;
      font-size: 2.16em;
      line-height: 1em;
      font-weight:700;
      background-color: $red;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 10px;
    }
    // .learn {
    // border: 1px solid $eitiblue;
    // padding-left: 17px;
    // padding-bottom: 4px;
    // margin-top: -28px;
    // background-color: $black;
    //   a {
    //   display: block;
    //   font-size: 1.4em;
    //   font-weight: 700;
    //   font-style: italic;
    //   color: $white;
    //   &:hover, &:focus {
    //   color: lighten($eitiblue, 10%);
    //   }
    //   }
    // }
}
// .title {
// text-align: center;
// padding-top: 60px;
// padding-bottom: 20px;
//   h1 {
//   color: $white;
//   font-size: $large;
//   font-weight: 700;
//   }
// }

.sectors {
  h1 {
    padding-bottom: 30px;
  }
  p {
    font-size: 0.82em;
    line-height: 1em;
    padding-left: 5px;
  }
}
.where {
  h1 {
    /*padding: 0 30px 30px 30px;*/
  }
  h2 {
    text-transform: uppercase;
    font-size: $norm;
  }
  .offshore {
    h2, h3 {
      color: $purple1;
      border-bottom-color: $purple1;
    }
  }
  .onshore {
    h2, h3 {
      color: $orange1;
      border-bottom-color: $orange1;
    }
  }
  h3 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
  }
  p {
    font-size: $norm;
    padding-left: 0px;
  }
}
.sectorImg {
  height: 40px;
  float: right;
}
.share {
  float:right;
  height: 35px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.break {
  padding: 12px 20px 11px 20px;
  background: url(../img/unsplash_fuzzy_lights.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}
.tree {
  h1 {
    padding: 20px 0 5px 0;
  }
}
.dollars {
  h1 {
    padding: 40px 0 20px 0;
  }
}
.whereInfo {
  padding-top: 50px;
  img {
    height: 70px;
  }
}

.how {
  p {
    font-size: $norm;
    padding-left: 0px;
    line-height: 1.2em;
  }
}

.blue {
background-color: $blue;
}
.brown {
background-color: $brown;
}
.purple {
  color: $purple1;
}
.orange {
  color: $orange1;
}

/*============================================
footer
============================================*/
.footer {
  h1 {
    font-size: $norm;
  }
}

/*============================================
d3
============================================*/
.pie {
    height: 400px;
}

.bar {
    height: 120px;
}

// .d3 {
//     height: 650px;
// }

// #viz-one {
//     position: absolute;
//     left: 470px;
//     top: 110px;
//     width: 670px;
//     height: 500px;
// }

