/*============================================
utility
============================================*/
.pad50RL {
    padding-left: 70px;
    padding-right: 70px;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.borderViz {
    border: 1px solid $white;
    border-radius: 3px;
}

.up15 {
    margin-top: -15px;
}

/*============================================
main
============================================*/

h1 {
    font-size: $large;
    font-weight: 800;
    line-height: 1;
}

h2 {
    display: block;
    color: #4d4b4b;
    font-weight: 800;
    font-size: $med;
    font-weight: 800;
    border-bottom: 2px solid #4d4b4b;
    margin-bottom: 15px;
}

a {
    text-decoration: underline;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.small {
    position: relative;
    top: -13px;
    font-size: .7em;
    /* refactor this into a function -- want it to be a percentage smaller than the surrounding text rather than hard-coded */
}

.med {
    font-size: 1.3em;
}

.large {
    position: relative;
    font-size: 2.2em;
}

.secondaryType {
    font-family: $font-family-secondary;
}

.section {
    padding: 40px 0 50px 0;
    overflow: hidden;
}

.putty {
    background-color: $putty;
}

.gray {
    background-color: $ltgray;
}

.usa {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: small;
    text-align: center;
    background: $blue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
}

.nav {
    background: #8dc2e7;
    background: rgba(141, 194, 231, 0.65);
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    ul {
        width: 100%;
        float: left;
        list-style: none;
    }
    li {
        font-weight: 600;
        float: left;
        padding: 5px 3px 3px 3px;
        margin-right: 32px;
        border-left: 1px solid black;
        display: block;
    }
    a {
        color: black;
        text-decoration: none;
        &:hover, &:focus {
            color: white;
        }
    }
}
ul.menu a.active li {
  color: lighten($blue, 35%);
  &:hover, &:focus {
      color: white;
  }
}
ul.menu a.active li::before {
  content: "\2605 ";
}

.top {
    padding: 50px 0px 0px 0px;
    background: url(../img/oil_blur.jpg) no-repeat top center fixed;
    color: $white;
    .intro {
        background-color: transparentize($black, 0.55);
        margin-left: 20px;
        padding: 20px 30px 15px 30px;
        p {
            font-size: $med;
            line-height: 1.2em;
        }
        a {
            color: $white;
        }
    }
    h1 {
        display: inline-block;
        color: $white;
        font-size: 2.16em;
        line-height: 1em;
        font-weight: 700;
        background-color: $red;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
    }
    h1 + h1 {
        margin-bottom: -6px;
    }
    .moreDown {
        width: 30px;
        float: left;
        margin: -5px 4px auto -14px;
    }
    // .learn {
    // border: 1px solid $eitiblue;
    // padding-left: 17px;
    // padding-bottom: 4px;
    // margin-top: -28px;
    // background-color: $black;
    //   a {
    //   display: block;
    //   font-size: 1.4em;
    //   font-weight: 700;
    //   font-style: italic;
    //   color: $white;
    //   &:hover, &:focus {
    //   color: lighten($eitiblue, 10%);
    //   }
    //   }
    // }
}

// .title {
// text-align: center;
// padding-top: 60px;
// padding-bottom: 20px;
//   h1 {
//   color: $white;
//   font-size: $large;
//   font-weight: 700;
//   }
// }

.sectors {
    h1 {
        padding-bottom: 30px;
    }
    p {
        font-size: 0.82em;
        line-height: 1em;
        padding-left: 5px;
    }
}

.sectorImg {
    height: 40px;
    float: right;
}

.share {
    float: right;
    height: 35px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.break {
    padding: 8px 20px 0px 20px;
    background: url(../img/unsplash_fuzzy_lights.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
  .down {
    width: 36px;
  }
}

.tree {
    h1 {
        padding: 20px 0 5px 0;
    }
}

.dollars {
    margin-top: -30px;
    h1 {
        padding: 40px 0 20px 0;
    }
}

.whereInfo {
    padding-top: 50px;
    img {
        height: 70px;
    }
}

.how {
    p {
        font-size: $norm;
        padding-left: 0px;
        line-height: 1.2em;
    }
}

.blue {
    background-color: $blue;
}

.brown {
    background-color: $brown;
}

.purple {
    color: $purple1;
}

.orange {
    color: $orange1;
}

.where {
    h1 {
        /*padding: 0 30px 30px 30px;*/
    }
    h2 {
        text-transform: uppercase;
        font-size: $norm;
    }
    span.click-me {
        font-weight: 900;
    }
    .offshore {
        min-height: 370px;
        h2, h3, a {
            color: $purple1;
            border-bottom-color: $purple1;
        }
    }
    .onshore {
        min-height: 370px;
        margin-top: -20px;
        h2, h3, a {
            color: $orange1;
            border-bottom-color: $orange1;
        }
    }
    h3 {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 800;
    }
    p {
        font-size: $norm;
        padding-left: 0px;
    }
}

.stats-offshore, .stats-onshore {
    width: 100%;
    height: 270px;
}

.stats-offshore > div, .stats-onshore > div {
    position: relative;
    margin-right: 0.5%;
    padding: 10px;
    p {
        font-family: $font-family-secondary;
        font-weight: $font-weight-superbold;
        font-size: $larger;
        line-height: 1em;
    }
    &:hover, &:focus {
        opacity: 0.75;
    }
}

.stats-offshore div:nth-child(1), .stats-onshore div:nth-child(1) {
    width: 49.5%;
    background-color: #7E5177;
    float: left;
    height: 100%;
}

.stats-offshore div:nth-child(2) {
    width: 49.5%;
    background-color: #9A6B93;
    float: right;
    height: 63.5%;
    margin-bottom: .5%;
    p {
        font-size: $xxlarge;
    }
}

.stats-offshore div:nth-child(3) {
    width: 22.5%;
    background-color: #B595B0;
    float: right;
    height: 35.5%;
    padding-left: 5px;
    p {
        font-size: $med;
    }
}

.stats-offshore div:nth-child(4) {
    width: 26.5%;
    background-color: #B183AA;
    float: right;
    height: 35.5%;
    padding-left: 5px;
    padding-right: 0px;
    p {
        font-size: 0.95em;
        margin: -0.8em auto auto 34%;
    }
}

.stats-offshore > div h1, .stats-onshore > div h1 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.5em;
    font-size: $med;
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
}

.stats-offshore div:nth-child(3) h1, .stats-offshore div:nth-child(4) h1 {
    padding-top: 1.8em;
    padding-bottom: 0.25em;
    font-size: 0.8em;
}

.stats-offshore > div i, .stats-onshore > div i {
    position: absolute;
    text-align: right;
    font-family: $font-family;
    font-weight: $font-weight-superbold;
    font-size: $xxlarge;
    color: #452941;
    top: 5px;
    right: 5px;
}

.stats-onshore div:nth-child(1) {
    background-color: #CA4F4A;
    p {
        font-size: $xxlarge;
    }
}

.stats-onshore div:nth-child(2) {
    width: 49.5%;
    background-color: #E16762;
    float: right;
    height: 73.5%;
    margin-bottom: .5%;
    p {
        font-size: $xxlarge;
    }
}

.stats-onshore div:nth-child(3) {
    width: 49.5%;
    background-color: #E68F8B;
    float: right;
    height: 25.5%;
    p {
        font-size: $large;
    }
}

.stats-onshore div:nth-child(3) h1 {
    padding-bottom: 0.25em;
    font-size: $med;
}

.stats-onshore > div i {
    color: #7E3533;
}

/*============================================
Mapbox
============================================*/
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.contain {
    position: relative;
    height: 400px;
}

.map-legend .swatch {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

/*============================================
Pages
============================================*/
.page-title {
  padding-bottom: 0px;
}

.page-content {
  padding-top: 10px;
  p {
    line-height: 1.5em;
  }
}


/*============================================
footer
============================================*/
.footer {
    h1 {
      font-size: $norm;
    }
    img {
      width: 80px;
      padding-right: 10px;
      float: left;
    }
    li:nth-of-type(1) {
      padding-top: 1.7em;
    }
    li {
      font-family: $font-family;
      font-weight: 700;
      line-height: 1em;
      a {
      color: black;}
    }
}


/*============================================
d3
============================================*/
.pie {
    height: 400px;
}

.bar {
    height: 120px;
}

// .d3 {
//     height: 650px;
// }

// #viz-one {
//     position: absolute;
//     left: 470px;
//     top: 110px;
//     width: 670px;
//     height: 500px;
// }