<div class="footer-wrapper">
      <footer class="container" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
        <div class="section blue footer" data-target="footer">
          <div class="row">
            <div class="six columns">
              <ul>
                <img src="{{ site.url }}assets/img/U_S__Department_of_the_Interior.gif" alt="U.S. Department of the Interior Logo" class="footer-logo">
                <li><a href="http://www.doi.gov" itemprop="url">Department of the Interior</a></li>
                <li><a href="http://www.onrr.gov" itemprop="url">Office of Natural Resources Revenue</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>