<div class="footer-wrapper">
      <footer class="container" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
        <div class="section blue footer" data-target="footer">
          <div class="row">
            <div class="three columns">
              <h1>Find your way</h1>
              <ul>
                <li><a href="{{ site.url }}/index.html" itemprop="url"><div itemprop="name">What</div></a></li>
                <li><a href="{{ site.url }}/how.html" itemprop="url"><div itemprop="name">How</div></a></li>
                <li><a href="{{ site.url }}/data.html" itemprop="url"><div itemprop="name">Data</div></a></li>
                <li><a href="{{ site.url }}/reports.html" itemprop="url"><div itemprop="name">Reports</div></a></li>
              </ul>
            </div>
            <div class="three columns">
              <h1>Government Partners</h1>
              <ul>
                <li>Links</li>
                <li>to</li>
                <li>partners</li>
                <li>here</li>
              </ul>
            </div>
            <div class="three columns">
              <h1>Industry Partners</h1>
              <ul>
                <li>Links</li>
                <li>to</li>
                <li>partners</li>
                <li>here</li>
                <li>Links</li>
                <li>to</li>
                <li>partners</li>
                <li>here</li>
              </ul>
            </div>
            <div class="three columns">
              <h1>Civil Society Partners</h1>
              <ul>
                <li>Links</li>
                <li>to</li>
                <li>partners</li>
                <li>here</li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>