<nav class="nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <div class="row">
    <ul class="twelve columns menu">
      <a href="/about.html" itemprop="url"><li itemprop="name">About This Site</li></a>
      <a href="/sectors.html" itemprop="url"><li itemprop="name">U.S. Natural Resource Sectors</li></a>
      <a href="#" itemprop="url"><li itemprop="name">Something Else</li></a>
      <a href="http://presidential-innovation-fellows.github.io/ridb-kibana/index.html#/dashboard/elasticsearch/Natural%20Resource%20Revenues%20by%20Company"><li itemprop="name">Filter &amp; Download Data</li></a>
      {% if page.title != "Home" %}<a href="/index.html" itemprop="url"><li itemprop="name">Home</li></a>{% endif %}
    </ul>
  </div>
</nav>